* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* body {
    display: flex;
} */

.square {
    background: lightseagreen;
    height: 120px;
    width: 120px;
    padding: 16px;
    /* border-top: 4px dotted #c98200;
    border-bottom: 4px solid #c90000; */
    /* padding: 16px 24px; */
}

#squareX {
    /* margin: 32px 16px 8px 4px;
    position: absolute;
    top, right, bottom, left
    top: 50px;
    z-index: 1; */
    display: inline-block;
    margin: 32px 0 0 32px;
}

#squareY {
    background: saddlebrown;
    /*margin-top: 16px;
    margin-left: 18px;
    position: absolute;
    z-index: 2;
    top: 16px;
    left: 18px; */
    display: inline-block;
}

#squareZ {
    background: rgb(243, 179, 133);
    display: inline-block;
    /* position: absolute;
    margin-top: 16px;
    margin-left: 40px;
    left: 32px;
    z-index: 3; */
}